absl-py==0.12.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asn1crypto==1.5.1
astor==0.8.1
async-generator==1.10
attrs==19.3.0
audioread==3.0.0
backcall==0.2.0
bleach==2.1
blinker==1.4
bokeh==2.3.3
bz2file==0.98
cached-property==1.5.1
cachetools==4.2.4
certifi==2019.11.28
cffi==1.15.1
chardet==3.0.4
click==8.0.4
cloudpickle==2.2.1
colorama==0.3.3
coloredlogs==10.0
conf==0.4.1
config==0.5.1
configobj==5.0.6
confugue==0.1.1
cryptography==2.8
dataclasses==0.8
dbus-python==1.2.16
decorator==4.3.0
defusedxml==0.7.1
dill==0.3.4
distro==1.4.0
dm-sonnet==2.0.1
dm-tree==0.1.8
dopamine-rl==3.0.1
Flask==1.1.2
Flask-Cors==3.0.9
Flask-Limiter==1.4
future==0.18.3
gast==0.2.2
gevent==22.10.2
gin-config==0.5.0
google-api-core==2.8.2
google-api-python-client==2.52.0
google-auth==2.16.0
google-auth-httplib2==0.1.0
google-pasta==0.2.0
googleapis-common-protos==1.56.3
gpapi==0.4.4
GPlayCli @ git+https://github.com/matlink/gplaycli@a31587bccf414780feab026bd09ef88b30e1d95b
greenlet==2.0.2
groove2groove==0.0.0
grpcio==1.18.0
grpcio-tools==1.18.0
gunicorn==20.0.4
gym==0.26.2
gym-notices==0.0.8
h5py==2.10.0
html5lib==1.1
httplib2==0.21.0
humanfriendly==10.0
idna==2.8
imageio==2.15.0
imgaug==0.4.0
importlib-metadata==4.8.3
importlib-resources==5.4.0
intervaltree==3.1.0
ipykernel==5.5.6
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.7.2
itsdangerous==2.0.1
jams==0.3.4
jedi==0.17.2
Jinja2==3.0.3
joblib==1.1.1
jsonpatch==1.22
jsonpointer==2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.1.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kfac==0.2.0
kiwisolver==1.3.1
librosa==0.7.2
limits==1.6
llvmlite==0.31.0
lmdb==0.98
lxml==4.9.2
magenta==2.1.3
Markdown==3.3.7
MarkupSafe==2.0.1
matplotlib==3.3.4
mesh-tensorflow==0.1.21
mido==1.2.6
mir-eval==0.7
mistune==0.8.4
more-itertools==4.2.0
mpmath==1.2.1
museflow==1.0.0
music21==6.7.1
nbclient==0.5.9
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.6
netifaces==0.10.4
networkx==2.5.1
node==1.2
note-seq==0.0.1
notebook==6.4.10
npm==0.1.1
numba==0.48.0
numpy==1.18.0
oauth2client==4.1.3
oauthlib==3.1.0
odict==1.9.0
opencv-python==4.3.0.38
opt-einsum==3.3.0
optional-django==0.1.0
packaging==21.3
pandas==0.25.3
pandocfilters==1.5.0
parso==0.7.1
pbr==5.11.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==8.4.0
plumber==1.7
pooch==1.6.0
pretty-midi==0.2.8
prometheus-client==0.16.0
promise==2.3
prompt-toolkit==3.0.36
protobuf==3.12.2
protobuf-compiler==1.0.20
protobuf-decoder==0.0.3
ptyprocess==0.7.0
pyaxmlparser==0.3.27
pycparser==2.21
pygame==2.1.3
Pygments==2.14.0
PyGObject==3.36.0
pygtrie==2.5.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==3.0.9
pypng==0.20220715.0
pyrsistent==0.15.5
pyserial==3.4
python-apt==2.0.1
python-dateutil==2.8.2
python-rtmidi==1.1.2
pytz==2022.7.1
PyWavelets==1.1.1
PyYAML==5.2
pyzmq==25.0.0
qtconsole==5.2.2
QtPy==2.0.1
redis==3.5.3
requests==2.22.0
resampy==0.3.0
rsa==4.9
scikit-image==0.17.2
scikit-learn==0.22
scipy==1.2.0
Send2Trash==1.8.0
Shapely==1.8.5.post1
six==1.14.0
sk-video==1.1.10
sortedcontainers==2.4.0
sos==4.3
soundfile==0.11.0
sox==1.4.1
ssh-import-id==5.10
sympy==1.9
tabulate==0.8.10
tempocnn==0.0.6
tensor2tensor==1.15.7
tensorboard==1.15.0
tensorflow==1.15.4
tensorflow-addons==0.14.0
tensorflow-datasets==4.5.2
tensorflow-estimator==1.15.1
tensorflow-gan==2.1.0
tensorflow-gpu==1.12.0
tensorflow-hub==0.12.0
tensorflow-metadata==1.2.0
tensorflow-probability==0.7.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.6.0
testresources==2.0.1
tf-slim==1.1.0
threadpoolctl==3.1.0
tifffile==2020.9.3
tone==0.0.4
tornado==6.1
tqdm==4.31.1
traitlets==4.3.3
typeguard==2.13.3
typing_extensions==4.1.1
ubuntu-drivers-common==0.0.0
ufw==0.36
uritemplate==4.1.1
urllib3==1.25.8
wcwidth==0.2.6
webcolors==1.11.1
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.6.1
wrapt==1.14.1
xkit==0.0.0
zipp==3.6.0
zope.component==5.1.0
zope.deferredimport==4.4
zope.deprecation==4.4.0
zope.event==4.6
zope.hookable==5.4
zope.interface==5.5.2
zope.lifecycleevent==4.4
zope.proxy==4.6.1
