<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/player.css" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--<meta name="theme-color" content="#000000" />-->

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
      integrity="sha256-4RctOgogjPAdwGbwq+rxfwAmSpZhWaafcZR9btzUk18="
      crossorigin="anonymous"
    />

    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "UA-33600926-1");
    </script>
    <!-- Bootstrap core CSS -->

    <script
      type="text/javascript"
      src="https://unpkg.com/tone@13.4.9/build/Tone.js"
    ></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/@tonejs/ui@0.0.8/build/tonejs-ui.js"
    ></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/@tonejs/midi"
    ></script>
    <title>캐릭캐릭뮤직체인지</title>
  </head>
  
  <body>
    <!--ASMR music list-->
    <audio
      class="asmr"
      id="school"
      loop
      src="../static/assets/asmr-nightcity.mp3"
      type="audio/mpeg"
    ></audio>
    <audio
      class="asmr"
      id="rain"
      loop
      src="../static/assets/asmr-rain.wav"
      type="audio/mpeg"
    ></audio>
    <audio
      class="asmr"
      id="wave"
      loop
      src="../static/assets/wave.mp3"
      type="audio/mpeg"
    ></audio>
    <!-- Style change sample music -->
    <audio
    id="kpop-sample"
    loop
    src="../static/assets/Ghost of the Wind.mp3"
    type="audio/mpeg">
    </audio>
    <!-- drum preset -->
    <audio
      id="drum-60-bpm"
      loop
      src="../static/assets/drum-60-bpm.mp3"
      type="audio/mpeg"
    ></audio>
    <audio
      id="drum-80-bpm"
      loop
      src="../static/assets/drum-80-bpm.mp3"
      type="audio/mpeg"
    ></audio>
    <audio
      id="drum-100-bpm"
      loop
      src="../static/assets/drum-100-bpm.mp3"
      type="audio/mpeg"
   ></audio>

    <!-- 중앙 정렬용 박스 -->
    <div class="center-box">

      <!--layer popup area-->
      <div class="modal">
        <!-- 입력 팝업 -->
        <div
          class="popup_layer"
          id="input_popup_layer"
          style="height: 100px; width: 200px; display: none"
        >
          <div class="input_popup_box">
            <div style="float: top">
              <a href="javascript:closeInputPop();">
                <img
                  src="../static/assets/x.jpg"
                  class="m_header-banner-close"
                  width="30px"
                  height="30px"
              /></a>
            </div>
            <!--layer input popup content area-->
            <div class="popup_cont">
              <div class="filebox">
                <div class="container">
                  <form
                    method="post"
                    action="http://localhost:5000/output"
                    enctype="multipart/form-data"
                  >
                    <input type="file" name="content_input" multiple="" />
                    <input type="file" name="style_input" multiple="" />
                    <input type="submit" value="submit" />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 사운드이펙트 팝업-->
        <div class="popup_layer" id="effect_popup_layer" style="display: none">
          <div class="effect_popup_box">
            <div style="height: 10px; width: 375px; float: top">
              <a href="javascript:closeEffectPop();"
                ><img
                  src="../static/assets/x.jpg"
                  class="m_header-banner-close"
                  width="30px"
                  height="30px"
              /></a>
            </div>
            <!--layer popup content area-->
            <div class="popup_cont">
              <h5>VOLUME CONTROL</h5>
              <div class="control_panel_layer">
                <div class="control_div">
                  <label class="panel_label">MUSIC</label>
                  <input
                    class="panel_bar"
                    type="range"
                    id="music-volume-slider"
                    min="0"
                    max="100"
                    value="50"
                    onclick="music_volume()"
                  />
                </div>
                <div class="control_div">
                  <label class="panel_label">DRUM</label>
                  <input
                    class="panel_bar"
                    type="range"
                    id="drum-volume-slider"
                    min="0"
                    max="100"
                    value="50"
                    onclick="drum_volume(event)"
                  />
                </div>
                <div class="control_div">
                  <label class="panel_label">ASMR</label>
                  <input
                    class="panel_bar"
                    type="range"
                    id="asmr-volume-slider"
                    min="0"
                    max="100"
                    value="20"
                    onclick="asmr_volume()"
                  />
                </div>
                <!-- <div class="control_div">
                  <label class="panel_label">REVERB</label>
                  <input
                    class="panel_bar"
                    type="range"
                    id="reverb-slider"
                    min="0"
                    max="100"
                    value="50"
                    onclick="reverb_control"
                  />
                </div> -->

                <!--reverb test-->  

                <div class="reverb-box">
                    <div class="form-check form-switch">
                      <label class="form-check-label" for="reverb">Reverb</label>
                      <input id="reverb" type="checkbox" class="form-check-input" />
                    </div>
                    <div class="form-check form-switch">
                      <label class="form-check-label" for="reverse">
                        Reverse Inpulse Response
                      </label>
                      <input type="checkbox" class="form-check-input" id="reverse" />
                    </div>

                  <div class="col" style="display: none">
                    <div class="overflow-auto">
                      <canvas id="graph" width="512" height="256"></canvas>
                    </div>
                    <p class="text-right">
                      The sound uses the drum part of
                      <a
                        href="https://soundcloud.com/logue256/autumn-wind"
                        target="_blank"
                      >
                        <em class="bi bi-soundwave"></em>
                        Autmun Wind
                      </a>
                      .
                    </p>
                  </div>

                <section class="mb-3">


                      <label for="time" class="form-label" aria-describedby="time-help">
                        Time
                      </label>
                      <input
                        type="range"
                        class="form-range"
                        title="1.1"
                        value="2"
                        min="0"
                        max="50"
                        id="time"
                      />
                      <!-- <div id="time-help" class="form-text">Room size</div> -->


                      <label for="decay" class="form-label">Decay</label>
                      <input
                        type="range"
                        class="form-range"
                        title="2"
                        value="2"
                        min="0"
                        max="100"
                        id="decay"
                      />
                      <!-- <div id="decay-help" class="form-text">
                        Hardness of room wall size
                      </div> -->


                      <label for="mix" class="form-label">Dry / Wet</label>
                      <input
                        type="range"
                        id="mix"
                        class="form-range"
                        min="0"
                        max="1"
                        step="0.05"
                        value="0.5"
                        title="0.5"
                      />
                      <!-- <div id="delay-help" class="form-text">
                        Closer to the original sound or closer to the effector
                      </div> -->


                </section>
              </div>  <!-- 리버브 끝 -->

              </div>              
            </div>
          </div>
        </div>


        <!-- 샘플 로파이 음악 팝업 -->
        <div
          class="popup_layer"
          id="drum_popup_layer"
          style="height: 100px; width: 200px; display: none"
        >
          <div class="drum_popup_box">
            <div style="float: top">
              <a href="javascript:closeDrumPop();"
                ><img
                  src="../static/assets/x.jpg"
                  class="m_header-banner-close"
                  width="30px"
                  height="30px"
              /></a>
            </div>
            <!--layer input popup content area-->
            <div class="popup_cont">
              sample
              <div class="drum-btn-wrap">
                <button class="drum-btn">1</button>
                <button class="drum-btn">2</button>
                <button class="drum-btn">3</button>
                <button class="drum-btn">4</button>
                <button class="drum-btn">5</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--inside of player room-->
      <div class="player-room">
        <img class="sample-room" src="../static/assets/sample_room.gif" />

        <!-- button wrap -->
        <div class="btn-wrap">
          <!-- audio input btn -->
          <a href="javascript:openInputPop()">
            <img
              src="../static/assets/monitor_btn.png"
              class="monitor-btn"
              id="input"
            />
          </a>

          <!--ASMR sound btn-->
          <img
            src="../static/assets/window1.png"
            id="window"
            class="window-btn"
          />

          <!-- drum btn -->
          <a href="javascript:openDrumPop()">
            <img
              src="../static/assets/piano_btn.png"
              class="piano-btn"
              id="drum"
            />
          </a>

          <!--audio effect popup btn-->
          <a href="javascript:openEffectPop()">  
            <img
              src="../static/assets/radio_btn.png"
              class="radio-btn"
              id="effect"
            />
          </a>
        </div>

        <script>
          /*input popup open*/
          function openInputPop() {
            document.getElementById("input_popup_layer").style.display =
              "block";
          }
          /*input popup closa*/
          function closeInputPop() {
            document.getElementById("input_popup_layer").style.display = "none";
          }

          /*audio effect control popup open*/
          function openEffectPop() {
            document.getElementById("effect_popup_layer").style.display =
              "block";
          }
          /*audio effect control popup close*/
          function closeEffectPop() {
            document.getElementById("effect_popup_layer").style.display =
              "none";
          }

          /*drum popup open*/
          function openDrumPop() {
            document.getElementById("drum_popup_layer").style.display = "block";
          }
          /*drum popup close*/
          function closeDrumPop() {
            document.getElementById("drum_popup_layer").style.display = "none";
          }

          var target = document.querySelectorAll(".btn_open");
          var targetID;

          // 팝업 열기
          for (var i = 0; i < target.length; i++) {
            target[i].addEventListener("click", function () {
              targetID = this.getAttribute("href");
              document.querySelector(targetID).style.display = "block";
            });
          }

          // 팝업 닫기
          for (var j = 0; j < target.length; j++) {
            btnPopClose[j].addEventListener("click", function () {
              this.parentNode.parentNode.style.display = "none";
            });
          }
        </script>

        <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script type="text/javascript">
          // 인풋 팝업 파일명 표시
          $("#file").on("change", function () {
            var fileName = $("#file").val();
            $(".upload-name").val(fileName);
          });

          /*창문 click 시 창문 그래픽 및 ASMR 음원 변경*/
          $(function () {
            let num = 0;
            let imageName = ["1", "2", "3", "4"];
            var audio1 = document.getElementById("school");
            var audio2 = document.getElementById("rain");
            var audio3 = document.getElementById("wave");
            $("#window").click(function () {
              if (num == 0) {
                audio3.pause();
                audio2.pause();
                audio1.play();
                num++;
              } else if (num == 1) {
                audio1.pause();
                audio3.pause();
                audio2.play();
                num++;
              } else if (num == 2) {
                audio1.pause();
                audio2.pause();
                audio3.play();
                num++;
              } else {
                audio1.pause();
                audio2.pause();
                audio3.pause();
                num = 0;
              }
              $(this).attr(
                "src",
                "../static/assets/window" + imageName[num] + ".PNG"
              );
              audio.puase();
              audio.play();
            });
          });

          /*audio volume control - 일괄 조정 가능하도록 추후 코드 수정*/

          // asmr_volume_init
            const audio1 = document.getElementById("school");
            const audio2 = document.getElementById("rain");
            const audio3 = document.getElementById("wave");
            audio1.volume = 0.2;
            audio2.volume = 0.2;
            audio3.volume = 0.2;


          function asmr_volume() {
            const audio1 = document.getElementById("school");
            const audio2 = document.getElementById("rain");
            const audio3 = document.getElementById("wave");
            const asrmAudioVolume =
              document.getElementById("asmr-volume-slider");
            audio1.volume = asrmAudioVolume.value / 100;
            audio2.volume = asrmAudioVolume.value / 100;
            audio3.volume = asrmAudioVolume.value / 100;
          }

          function music_volume() {
            const audio = document.getElementById("kpop-sample");
            const musicAudioVolume = document.getElementById(
              "music-volume-slider"
            );
            audio.volume = musicAudioVolume.value / 100;
          }

          // function drum_volume() {
          //   const audio = document.getElementById("drum-80-bpm");
          //   const drumAudioVolume =
          //     document.getElementById("drum-volume-slider");
          //   audio.volume = drumAudioVolume.value / 100;
          // }

        </script>

        <!-- pixel audio visualization-->
        <div style="margin: 1em">
          <canvas id="canvas" width="720"></canvas>
        </div>

      <!--player room outside-->
      </div>
      <div class="bottom-wrap">
        <!--style 선택 dropbox-->
        <div class="style-dropdown">
          <button class="style-dropbtn">
            <span class="style-dropbtn_icon">more_horiz</span>
            STYLE
          </button>
          <div class="style-dropdown-content">
            <option value="basic"
            class="stylebtn"
            onclick="setStyle(this.value)"
            >basic</a>
            <option value= "mellow"
            class="stylebtn"
            onclick= "setStyle(this.value)"
            >mellow</a>
            <option value= "sad"
            class="stylebtn"
            onclick="setStyle(this.value)"
            >sad</a>
          </div>
        </div>

        <!--bpm 선택 dropbox-->
        <div class="style-dropdown">
          <button class="style-dropbtn">
            <div class="bpm-text-wrap">
              <span class="style-dropbtn_icon">more_horiz</span>
              BPM
              <span id="bpm">0</span>
            </div>
          </button>
          <div class="style-dropdown-content">
            <option value="60" class="bpmbtn" onclick="setBpm(this.value); changeDrum(this.value)">60</option>
            <option value="80" class="bpmbtn" onclick="setBpm(this.value); changeDrum(this.value)">80</option>
            <option value="100" class="bpmbtn" onclick="setBpm(this.value); changeDrum(this.value)">100</option>
          </div>
        </div>
        
        <!-- <tone-content>
          <tone-play-toggle>
            <button id="target">start</button>
          </tone-play-toggle>
        </tone-content> -->

        <script>

          //초기 설정
          var drumAudio_60 = document.getElementById("drum-60-bpm");
          var drumAudio_80 = document.getElementById("drum-80-bpm");
          var drumAudio_100 = document.getElementById("drum-100-bpm");
          var asrmAudioVolume = document.getElementById("asmr-volume-slider");  
          drumAudio_60.volume = 0.2;
          drumAudio_80.volume = 0.2;
          drumAudio_100.volume = 0.2;

          setBpm(80);

          // bpm change
          function setBpm(bpm) {
            var target_bpm = Number(bpm);
            Tone.Transport.bpm.value = target_bpm;
            // var nowbpm = Tone.Transport.bpm.value;
            document.getElementById("bpm").textContent =
            target_bpm;
          }

          // bpm에 맞춰서 drum 바꾸는 함수
          function changeDrum(bpm) {
              if (bpm==60) {
                console.log("드럼 테스트")
                // drum change
                drumAudio_80.pause(); // 일시 정지
                drumAudio_80.currentTime = 0;
                drumAudio_100.pause(); // 일시 정지
                drumAudio_100.currentTime = 0;
                drumAudio_60.play();
              } else if (bpm==80) {
                drumAudio_60.pause(); // 일시 정지
                drumAudio_60.currentTime = 0;
                drumAudio_100.pause(); // 일시 정지
                drumAudio_100.currentTime = 0;
                drumAudio_80.play();
              } else { //bpm==100
                drumAudio_60.pause(); // 일시 정지
                drumAudio_60.currentTime = 0;
                drumAudio_80.pause(); // 일시 정지
                drumAudio_80.currentTime = 0;
                drumAudio_100.play();
              }


          }

          function setStyle(style) {
            var style = style;
          }
        </script>

        <!-- 임시 bpm 조정 -->
        <!--
        <script
        type="text/javascript"
        src="//www.midijs.net/lib/midi.js"
        >

        MIDIjs.play("../static/output/output_midi.mid")
        </script>
        <script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.4.0"></script>
        <midi-player
          src="../static/output/output_midi.mid"
          sound-font
          visualizer="#myVisualizer"
          id="midi-player"
        >
        </midi-player>

        <form
        onsubmit="fetchMidi(this.url.value); return false;"
        ></form>
        <div id="FileDrop">
        <div id="Text"></div>
        <input type="file" id="test-file" accept="audio/midi" />
        </div>
        <tone-play-toggle disabled></tone-play-toggle>
        <span><tone-button id="rewind"></tone-button></span>
        <span id="position">0:0</span>
        <span id="ticks">Ticks:</span>

        <script></script>
        
        -->

        <!--style transfer output music 재생바-->
        <link
          href="https://fonts.googleapis.com/css?family=Roboto:100"
          rel="stylesheet"
          type="text/css"
        />
      
        <div class="mp3-player">
          <div class="player">
            <div class="playarea">
              <button id="play" type="button" class="btn btn-primary btn-lg" disabled>
                <em class="bi bi-play"></em>
                Play
              </button>

              <!--
              <div class="play" id="play-img" onclick="musicControl()">
                <script>
                  var playMode = 0;
                  /* 재생 */
                  function play() {
                    var audio4 = document.getElementById("kpop-sample");
                    document.getElementById("kpop-sample").volume = 0.1;
                    audio4.play();
                    playMode == 1;
                  }
                  /* 일시정지 */
                  function pause() {
                    var audio4 = document.getElementById("kpop-sample");
                    audio4.pause();
                    playMode == 0;
                  }
                  /* music mode change */
                  function musicControl() {
                    if (playMode == 0) {
                      play();
                      playMode = 1;
                    } else {
                      pause();
                      playMode = 0;
                    }
                  }
                  /* 버튼 이미지 변경 */
                  function imgControl() {
                    document.getElementById("play-img").src =
                      "../static/assets/pause.";
                  }
                </script>
              </div>
              <div class="pause" onclick="pause()"></div>
              <div class="soundControl" id="volume-Control" display="none">
                <script>
                  // volume control 코드 삭제하면 오디오 비주얼라이제이션 안됨 (왜?)
                  const audio = document.getElementById("kpop-sample");
                  const audioVolume = document.getElementById("volume-slider");
                  audioVolume.addEventListener("change", function (e) {
                    audio.volume = this.value / 100;
                  });
                  function mute() {}
                </script>
              </div>
              -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 오디오 비주얼라이제이션 
      mp3 파일로 연결됨..? wav 되는지 확인 안해봄
    -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        function getPos(Hz, minHz, maxHz, max) {
          if (Hz > minHz) {
            var posMin = Math.log10(minHz) * max;
            return (
              ((Math.log10(Hz) - Math.log10(minHz)) * max) /
              (Math.log10(maxHz) - Math.log10(minHz))
            );
          } else {
            return 0;
          }
        }

        function getFFTbars(fft, barCount) {
          var minHz =
            arguments.length > 2 && arguments[2] !== undefined
              ? arguments[2]
              : 20;
          var maxHz =
            arguments.length > 3 && arguments[3] !== undefined
              ? arguments[3]
              : 12000;
          var dataArray = new Float32Array(bufferLength);
          fft.getFloatFrequencyData(dataArray);
          var pos;
          var out = [];

          for (i in dataArray) {
            pos = Math.round(
              getPos((i * 24000) / dataArray.length, minHz, maxHz, barCount)
            );
            if (pos < barCount)
              if (!out[pos] || out[pos] < dataArray[i]) out[pos] = dataArray[i];
          }

          for (i = 0; i < barCount; i++) {
            if (!out[i]) {
              var prevIndex = void 0,
                prevValue = void 0;

              if ((prevIndex = i - 1) < 0) {
                prevIndex = 0;
                prevValue = 0;
              } else {
                prevValue = out[prevIndex];
              }

              var nextIndex = void 0,
                nextValue = void 0;

              for (var k = i; k < barCount; k++) {
                if (out[k]) {
                  nextIndex = k;
                  nextValue = out[k];
                  break;
                }
              }

              if (!nextIndex) {
                nextIndex = barCount - 1;
                nextValue = 0;
              }

              out[i] =
                prevValue + (nextValue - prevValue) / (nextIndex - prevIndex);
            }
          }

          return out;
        }

        function draw() {
          var bars = getFFTbars(analyser, 72);
          canvasCtx.clearRect(0, 0, canvas.width, canvas.height);
          canvasCtx.fillStyle = "rgb(255, 255, 255)";
          canvasCtx.beginPath();

          for (i in bars) {
            canvasCtx.rect(
              i * 10,
              canvas.height - ((bars[i] + 64) * canvas.height) / 64,
              8,
              canvas.height
            );
          }

          canvasCtx.fill();
        }

        var canvas,
          canvasCtx,
          audioCtx,
          source,
          analyser,
          bufferLength,
          dataArray,
          gainNode;
        var initialized = false;
        audio.addEventListener("play", function () {
          if (!initialized) {
            canvas = document.getElementById("canvas");
            canvasCtx = canvas.getContext("2d");
            audioCtx = new (window.AudioContext || window.webkitAudioContext)();
            source = audioCtx.createMediaElementSource(audio);
            analyser = audioCtx.createAnalyser();
            analyser.fftSize = 4096;
            bufferLength = analyser.frequencyBinCount;
            dataArray = new Float32Array(bufferLength);
            gainNode = audioCtx.createGain();
            source.connect(analyser);
            source.connect(gainNode);
            gainNode.connect(audioCtx.destination);
            setInterval(draw, 16);
            initialized = true;
          }
        });
      });
    </script>

    <!-- Tone.js 스크립트 코드 -->
    <script type="text/javascript">
      var CW = CW || {};

      CW.tempoOffset = 0; //a property to manage the global changes to tempo

      if (
        !(window.File && window.FileReader && window.FileList && window.Blob)
      ) {
        document.querySelector("#FileDrop #Text").textContent =
          "Reading files not supported by this browser";
      } else {
        const fileDrop = document.querySelector("#FileDrop");
        fileDrop.addEventListener("dragenter", () =>
          fileDrop.classList.add("Hover")
        );
        fileDrop.addEventListener("dragleave", () =>
          fileDrop.classList.remove("Hover")
        );
        fileDrop.addEventListener("drop", () =>
          fileDrop.classList.remove("Hover")
        );
        document
          .querySelector("#FileDrop input")
          .addEventListener("change", (e) => {
            const files = e.target.files;
            if (files.length > 0) {
              const file = files[0];
              document.querySelector("#FileDrop #Text").textContent = file.name;
              readFile(file);
            }
          });
      }

      function readFile(file) {
        //handle errors like 404, other screwups; also only accept midi
        const reader = new FileReader();
        reader.onload = function (e) {
          const midi = new Midi(e.target.result);
          const useableMidiObject = parseMidi(midi);
          makeSong(useableMidiObject);
        };
        reader.readAsArrayBuffer(file);
      }

      console.log("bpm 가져오기 테스트");
      var outputBPM = getMidiBPM("../static/output/output_midi.mid");
      console.log(outputBPM);

      function getMidiBPM(myURL) {
        Midi.fromUrl(myURL).then((midi) => {
          const useableMidiObject = parseMidi(midi);
          const audioBPM = useableMidiObject.header.tempos[0].bpm;
          console.log("///////");
          console.log(audioBPM);
          // useableMidiObject.header.tempos[0].bpm = 100;
          return audioBPM;
        });
      }

      function fetchMidi(myURL) {
        Midi.fromUrl(myURL).then((midi) => {
          const useableMidiObject = parseMidi(midi);
          makeSong(useableMidiObject);
        });
      }

      //************** parse data from midi file or url into useable midi object ********************
      function parseMidi(midi) {
        if (midi.header) {
          const midiJSON = JSON.stringify(midi, undefined, null);
          const parsedMidiObject = JSON.parse(midiJSON);
          return parsedMidiObject;
        } else {
          alert("Something went wrong when parsing your midi file");
          location.reload();
        }
      }
      
      function setupPlayer(midi) {
        document.querySelector("#ResultsText").value = JSON.stringify(
          midi,
          undefined,
          2
        );
        document.querySelector("tone-play-toggle").removeAttribute("disabled");
        document.addEventListener("keydown", assignKeys);
      }

      //************** Put midi data into Tone.Parts ********************

      function makeSong(midi) {
        Tone.Transport.PPQ = midi.header.ppq;
        const numofVoices = midi.tracks.length;
        const synths = [];

        //************** Tell Transport about Time Signature changes  ********************
        for (let i = 0; i < midi.header.timeSignatures.length; i++) {
          Tone.Transport.schedule(function (time) {
            Tone.Transport.timeSignature =
              midi.header.timeSignatures[i].timeSignature;
            console.log(
              midi.header.timeSignatures[i].timeSignature,
              Tone.Transport.timeSignature,
              Tone.Transport.position
            );
          }, midi.header.timeSignatures[i].ticks + "i");
        }

        //************** Tell Transport about bpm changes  ********************
        for (let i = 0; i < midi.header.tempos.length; i++) {
          Tone.Transport.schedule(function (time) {
            Tone.Transport.bpm.value =
              midi.header.tempos[i].bpm + CW.tempoOffset;
          }, midi.header.tempos[i].ticks + "i");
        }

        //************ Change time from seconds to ticks in each part  *************
        for (let i = 0; i < numofVoices; i++) {
          midi.tracks[i].notes.forEach((note) => {
            note.time = note.ticks + "i";
          });
        }

        //************** Create Synths and Parts, one for each track  ********************
        for (let i = 0; i < numofVoices; i++) {
          synths[i] = new Tone.PolySynth().toMaster();

          var part = new Tone.Part(function (time, value) {
            synths[i].triggerAttackRelease(
              value.name,
              value.duration,
              time,
              value.velocity
            );
          }, midi.tracks[i].notes).start();
        }

        setupPlayer(midi); //only does this once makeSong finished
      }

      //************** Set up position & BPM indicators  ********************

      Tone.Transport.scheduleRepeat(function (time) {
        showPosition();
        document.getElementById("ticks").textContent =
          "Ticks: " + Tone.Transport.ticks;
      }, "8n");

      function showPosition() {
        //need to coordinate this with latencyHint in setupPlayer if I want accuracy
        var myPos = Tone.Transport.position;
        var posArray = myPos.split(/\D+/); // split based on non-digits
        var myBar = Number(posArray[0]) + 1; //first element, converted to number, then increased
        var myBeat = Number(posArray[1]) + 1;
        document.getElementById("position").textContent = myBar + ":" + myBeat;
      }

      //************** Set up buttons  ********************
      //******* Everything below here is cosmetic  ********

      function changeTempo(dir) {
        switch (dir) {
          case "up" || "ArrowUp" || 38:
            Tone.Transport.bpm.value = Tone.Transport.bpm.value + 1.01;
            CW.tempoOffset = CW.tempoOffset + 1.01;
            break;

          case "dn" || "ArrowDown" || 40:
            Tone.Transport.bpm.value = Tone.Transport.bpm.value - 1.01;
            CW.tempoOffset = CW.tempoOffset - 1.01;
            break;

          case "reset":
            if (Tone.Transport.state === "started") {
              const baseTempo = Tone.Transport.bpm.value - CW.tempoOffset;
              Tone.Transport.bpm.value = baseTempo;
            }
            CW.tempoOffset = 0;
            break;
        }
      }

      function assignKeys(event) {
        var key = event.key || event.keyCode;

        if (key === "ArrowUp" || key === 38) {
          event.preventDefault();
          changeTempo("up");
        }

        if (key === "ArrowDown" || key === 40) {
          event.preventDefault();
          changeTempo("dn");
        }
      }

      document
        .querySelector("tone-play-toggle")
        .addEventListener("change", (e) => {
          if (e.detail) {
            Tone.Transport.start();
          } else {
            Tone.Transport.pause();
          }
        });

      document.querySelector("#rewind").label = "REWIND";
      document.querySelector("#rewind").addEventListener("click", (e) => {
        if (Tone.Transport.state === "started") {
          Tone.Transport.stop();
          Tone.Transport.position = "0:0:0";
          Tone.Transport.start();
        } else {
          Tone.Transport.stop();
          Tone.Transport.position = "0:0:0";
        }
      });
    </script>


    <!--reverb test-->
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha256-Bh8LHqeebiyiT0YD5V0+kJ90cboLJ5zbbepAVUEGxqI="
      crossorigin="anonymous"
    ></script>
    <script src="../static/reverb.umd.js"></script>
    <script>
      document.getElementById("play").setAttribute("disabled", "disabled");

      document.addEventListener("touchstart", initAudioContext);
      function initAudioContext() {
        document.removeEventListener("touchstart", initAudioContext);
        // wake up AudioContext
        const emptySource = ctx.createBufferSource();
        emptySource.start();
        emptySource.stop();
      }

      window.addEventListener("load", async () => {
        // Setup Audio Context
        const AudioCtx = new window.AudioContext();

        // Defreeze AudioContext for iOS.
        document.addEventListener("touchstart", initAudioContext);
        function initAudioContext() {
          document.removeEventListener("touchstart", initAudioContext);
          // wake up AudioContext
          const emptySource = AudioCtx.createBufferSource();
          emptySource.start();
          emptySource.stop();
        }

        // Setup Reverb Class
        const reverb = new Reverb(AudioCtx);
        console.info(
          `Reverb.js loaded. (version: ${Reverb.version} / build: ${Reverb.build})`
        );
        const AudioSrc = AudioCtx.createBufferSource();

        // Load audio file and decode asyncly.
        const LoadSample = async (url) => {
          return new Promise((resolve) => {
            fetch(url)
              .then((response) => response.arrayBuffer())
              .then((arraybuf) =>
                AudioCtx.decodeAudioData(
                  arraybuf,
                  (buffer) => {
                    document.getElementById("play").removeAttribute("disabled");
                    resolve(buffer);
                  },
                  (e) => alert(e)
                )
              )
              .catch((e) => alert(e));
          });
        };

        // Draw FFT to canvas
        // Code taken from https://www.g200kg.com/jp/docs/webaudio/filter.html
        const AnalyserNode = AudioCtx.createAnalyser();
        const canvas = document.getElementById("graph");
        const canvasContext = canvas.getContext("2d");

        const analysedata = new Float32Array(1024);
        const DrawGraph = () => {
          AnalyserNode.getFloatFrequencyData(analysedata);
          // Background
          canvasContext.fillStyle = "#343a40";
          canvasContext.fillRect(0, 0, canvas.width, canvas.height);
          // FFT Graph
          canvasContext.fillStyle = document.getElementById("reverb").checked
            ? "#17a2b8"
            : "#28a745";
          for (let i = 0; i < canvas.width; ++i) {
            const f = (AudioCtx.sampleRate * i) / (canvas.width * 2);
            const y = canvas.height / 2 + (analysedata[i] + 48.16) * 2.56;
            canvasContext.fillRect(i, canvas.height - y, 1, y);
          }

          // y axis (dB)
          for (let d = -50; d < 50; d += 10) {
            const y = (canvas.height / 2 - (d * canvas.height) / 100) | 0;
            // Line
            canvasContext.fillStyle = "#6c757d";
            canvasContext.fillRect(20, y, canvas.width, 1);
            // Label
            canvasContext.fillStyle = "#fd7e14";
            canvasContext.fillText(d + "dB", 5, y);
          }
          canvasContext.fillStyle = "#ffc107";
          canvasContext.fillRect(20, canvas.height / 2, canvas.width, 1);

          // x axis (frequency)
          for (let f = 2200; f < AudioCtx.sampleRate / 2; f += 2000) {
            const x = ((f * (canvas.width * 2)) / AudioCtx.sampleRate) | 0;
            // Line
            canvasContext.fillStyle = "#6c757d";
            canvasContext.fillRect(x, 0, 1, canvas.height - 10);
            // Label
            if (x % 4 == 0) {
              canvasContext.fillStyle = "#e83e8c";
              canvasContext.fillText(
                f / 1000 + "kHz",
                x - 10,
                canvas.height - 1
              );
            }
          }
        };

        // Reverb switch handler
        const setReverb = () => {
          AudioSrc.disconnect();

          if (document.getElementById("reverb").checked) {
            // Connect Reverb
            reverb.connect(AudioSrc).connect(AnalyserNode);
          } else {
            reverb.disconnect(AudioSrc).connect(AnalyserNode);
          }
          AnalyserNode.connect(AudioCtx.destination);
          reverb.setNoise("pink");
        };
        
        //리버브 연결은 output 폴더의 output-60/80/100 세개로 연결되게...?
        const sound = await LoadSample("../static/output/output.mp3");

        // Draw FFT
        setInterval(DrawGraph, 10);

        // Play button
        document.getElementById("play").addEventListener(
          "click",
          (event) => {
            if (event.target != event.currentTarget) return;

            if (AudioSrc.buffer == null) {
              AudioSrc.buffer = sound;
              AudioSrc.loop = true;

              setReverb();
              AudioSrc.start();
            }

            if (AudioCtx.state === "running") {
              AudioCtx.suspend().then(() => {
                event.target.innerHTML = '<em class="bi bi-play"></em> Play';
              });
            } else if (AudioCtx.state === "suspended") {
              AudioCtx.resume().then(() => {
                event.target.innerHTML = '<em class="bi bi-pause"></em> Pause';
              });
            }
          },
          false
        );

        // Reverb switch button
        document.getElementById("reverb").addEventListener("click", setReverb);
        // Reverse checkbox
        document
          .getElementById("reverse")
          .addEventListener("click", (e) => reverb.reverse(e.target.checked));
        // Reverb dualation time
        document.getElementById("time").addEventListener("change", (e) => {
          reverb.time(e.target.value);
          e.target.title = e.target.value;
        });
        // Decay time
        document.getElementById("decay").addEventListener("change", (e) => {
          reverb.decay(e.target.value);
          e.target.title = e.target.value;
        });
        // Filter select box
        document.getElementById("filter").addEventListener("change", (e) => {
          reverb.filterType(e.target.value);
          e.target.title = e.target.value;
        });
        // Filter frequency
        document.getElementById("freq").addEventListener("change", (e) => {
          reverb.filterFreq(e.target.value);
          e.target.title = e.target.value;
        });
        // Filter quality
        document.getElementById("q").addEventListener("change", (e) => {
          reverb.filterQ(e.target.value);
          e.target.title = e.target.value;
        });
        // Dry/Wet
        document.getElementById("mix").addEventListener("change", (e) => {
          reverb.mix(e.target.value);
          e.target.title = e.target.value;
        });
        // Noise Type
        document.querySelectorAll("[name=noise]").forEach((dom) =>
          dom.addEventListener("click", (e) => {
            document.getElementById("peaks").disabled =
              e.target.value === "white";
            reverb.setNoise(e.target.value);
          })
        );

        document.getElementById("peaks").addEventListener("change", (e) => {
          reverb.peaks(e.target.value);
          e.target.title = e.target.value;
        });
        document.getElementById("scale").addEventListener("change", (e) => {
          reverb.scale(e.target.value);
          e.target.title = e.target.value;
          
        });
        document
          .getElementById("randomAlgorithm")
          .addEventListener("change", (e) => {
            reverb.randomAlgorithm(e.target.value);
            e.target.title = e.target.value;
          });
      });
    </script>
  </body>
</html>

